Repository kubernetes-sigs/release-notes, pull requests merged in 2019-09, with the labels that each got.

#93 Remove unused ViewChild members
  src/app/main/main.component.ts
Labels: approved, cncf-cla: yes, lgtm, size/XS

#99 Update OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#98 Update dependencies
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#97 Add v1.16.0 release notes
  src/assets/release-notes-1.16.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#100 Add kubernetes logo and font and improve responsiveness
  src/app/main/main.component.html
  src/app/main/main.component.scss
  src/app/main/main.component.ts
  src/assets/img/logo.svg
  src/styles.css
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#102 Update site with 1.15.2 patch notes
  src/assets/release-notes-1.15.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#103 Add introduction of Alpha feature EvenPodsSpread to 1.16
  src/assets/release-notes-1.16.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#104 Bump Angular to v8.2.7
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL

#105 Update site with 1.15.3 patch notes
  src/assets/release-notes-1.15.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#107 Update site with 1.15.4 patch notes
  src/assets/release-notes-1.15.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L
