Repository kubernetes-sigs/release-notes, pull requests merged in 2019-11, with the labels that each got.

#121 Fix CI build
  package-lock.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#120 Adding release notes for 1.17.0-beta.0
  src/assets/release-notes-1.17.0-beta.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#122 Verify assets with unit tests
  src/app/app.module.ts
  src/assets/assets.spec.ts
  src/tsconfig.spec.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#124 Updated Patch notes for k/k v1.17.0-beta.1
  src/assets/release-notes-1.17.0-beta.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/release, size/L

#125 Patch Notes for k/k v1.17.0-beta.2
  src/assets/release-notes-1.17.0-beta.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XXL

#126 Patch release notes for k/k v1.17.0-rc.1
  src/assets/release-notes-1.17.0-rc.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M
