Repository kubernetes-sigs/release-notes, pull requests merged in 2019-12, with the labels that each got.

#127 Updated Patch release notes for k/k v1.17.0-rc.2
  src/assets/release-notes-1.17.0-rc.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#123 Update dependencies and adapt jest
  angular.json
  cypress/integration/app.spec.ts
  package-lock.json
  package.json
  src/app/filter/filter.component.ts
  src/app/filter/filter.reducer.ts
  src/app/notes/notes.effects.ts
  src/app/notes/notes.reducer.ts
  src/app/settings/settings.reducer.ts
  src/tsconfig.spec.json
  tsconfig.spec.json
  tslint.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#129 Add v1.17.0 release notes
  src/assets/release-notes-1.17.0-alpha.2.json
  src/assets/release-notes-1.17.0-alpha.3.json
  src/assets/release-notes-1.17.0-beta.0.json
  src/assets/release-notes-1.17.0-beta.1.json
  src/assets/release-notes-1.17.0-beta.2.json
  src/assets/release-notes-1.17.0-rc.1.json
  src/assets/release-notes-1.17.0-rc.2.json
  src/assets/release-notes-1.17.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#131 Update dependencies to fix vulnerabilties
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#132 Add v1.15.6 and v1.16.3 release notes
  src/assets/release-notes-1.15.6.json
  src/assets/release-notes-1.16.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#133 Add v1.15.7 and v1.16.4 release notes
  src/assets/release-notes-1.15.7.json
  src/assets/release-notes-1.16.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#134 V1.14.x release notes
  src/assets/release-notes-1.14.0.json
  src/assets/release-notes-1.14.1.json
  src/assets/release-notes-1.14.10.json
  src/assets/release-notes-1.14.2.json
  src/assets/release-notes-1.14.3.json
  src/assets/release-notes-1.14.4.json
  src/assets/release-notes-1.14.5.json
  src/assets/release-notes-1.14.6.json
  src/assets/release-notes-1.14.7.json
  src/assets/release-notes-1.14.8.json
  src/assets/release-notes-1.14.9.json
  src/assets/release-notes-1.15.0.json
  src/assets/release-notes-1.16.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#135 Update dependencies
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL
