Repository kubernetes-sigs/release-notes, pull requests merged in 2020-07, with the labels that each got.

#165 Update dependencies
  angular.json
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/.browserslistrc
  src/app/app.module.ts
  src/app/filter/filter.effects.spec.ts
  src/app/notes/notes.component.spec.ts
  src/app/notes/notes.effects.spec.ts
  src/app/notes/notes.effects.ts
  src/app/notes/notes.service.spec.ts
  src/app/settings/settings.effects.spec.ts
  src/app/shared/services/logger.service.spec.ts
  src/polyfills.ts
  src/tsconfig.app.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.spec.json
  tslint.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#130 Fix badge selection and add e2e tests
  cypress/integration/app.spec.ts
  src/app/notes/notes.component.html
  src/app/notes/notes.component.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#167 Patch relnotes.k8s.io to release v1.17.6
  src/assets/release-notes-1.17.6.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#166 Patch relnotes.k8s.io to release v1.17.5
  src/assets/release-notes-1.17.5.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#168 Patch relnotes.k8s.io to release v1.17.7
  src/assets/release-notes-1.17.7.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#169 Patch relnotes.k8s.io to release v1.17.8
  src/assets/release-notes-1.17.8.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#164 Remove `DataFields` from 1.18.5 notes and resort
  src/assets/release-notes-1.18.5.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#170 Patch relnotes.k8s.io to release v1.19.0-rc.0
  src/assets/release-notes-1.19.0-rc.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XXL

#171 Patch relnotes.k8s.io to release v1.19.0-rc.1
  src/assets/release-notes-1.19.0-rc.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#172 Remove tailing PR, author and SIG from markdown
  package-lock.json
  package.json
  src/app/notes/notes.component.html
  src/app/notes/notes.component.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#173 Patch relnotes.k8s.io with release v1.17.9
  src/assets/release-notes-1.17.9.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#175 Patch relnotes.k8s.io to release v1.18.6
  src/assets/release-notes-1.18.6.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#174 Patch relnotes.k8s.io with release v1.16.13
  src/assets/release-notes-1.16.13.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#176 Patch relnotes.k8s.io to release v1.19.0-rc.2
  src/assets/release-notes-1.19.0-rc.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#177 Patch relnotes.k8s.io to release v1.19.0-rc.3
  src/assets/release-notes-1.19.0-rc.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M
