Repository kubernetes-sigs/release-notes, pull requests merged in 2020-05, with the labels that each got.

#152 Patch relnotes.k8s.io with release v1.19.0-alpha.3
  src/assets/release-notes-1.19.0-alpha.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, sig/release, size/L

#154 Patch relnotes.k8s.io with release v1.19.0-beta.0
  src/assets/release-notes-1.19.0-beta.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, sig/release, size/XL

#153 Patch relnotes.k8s.io to release v1.18.1
  src/assets/release-notes-1.18.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#155 Patch relnotes.k8s.io to release v1.18.2
  src/assets/release-notes-1.18.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#156 Patch relnotes.k8s.io to release v1.18.3
  src/assets/release-notes-1.18.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L
