Repository kubernetes-sigs/release-notes, pull requests merged in 2020-09, with the labels that each got.

#186 Patch relnotes.k8s.io to release v1.16.15
  src/assets/release-notes-1.16.15.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/M

#189 Add puerco to reviewers
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#188 Fix v in v1.19 version tag
  src/assets/release-notes-1.19.0.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XL

#184 Update node dependencies
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#191 Sort release versions by semver
  src/app/shared/model/options.model.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S

#192 Fix last v1.19.0 release note
  src/assets/release-notes-1.19.0.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#190 Retrieve the release_version from the notes assets path
  src/app/notes/notes.service.spec.ts
  src/app/notes/notes.service.ts
  src/environments/assets.test.ts
  src/testdata/release-notes-1.14.0.json
  src/testdata/release-notes-1.15.0.json
  src/testdata/release-notes-1.16.0.json
  src/testdata/release-notes-1.17.0-alpha.2.json
  src/testdata/release-notes.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#194 Throw error if assets paths have wrong format
  src/app/notes/notes.service.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#195 Backfill missing 1.16.x Release Notes
  src/assets/release-notes-1.16.10.json
  src/assets/release-notes-1.16.11.json
  src/assets/release-notes-1.16.12.json
  src/assets/release-notes-1.16.7.json
  src/assets/release-notes-1.16.8.json
  src/assets/release-notes-1.16.9.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL

#196 Patch relnotes.k8s.io to release v1.19.1
  src/assets/release-notes-1.19.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#197 Add puerco to approvers
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#198 Patch relnotes.k8s.io to release v1.17.12
  src/assets/release-notes-1.17.12.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#199 Patch relnotes.k8s.io to release v1.18.9 and v1.19.2
  src/assets/release-notes-1.18.9.json
  src/assets/release-notes-1.19.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L
