Repository kubernetes-sigs/release-notes, pull requests merged in 2020-08, with the labels that each got.

#178 Patch relnotes.k8s.io to release v1.19.0-rc.4
  src/assets/release-notes-1.19.0-rc.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#179 Update sig-release-leads in OWNERS to reflect latest changes
  OWNERS
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS

#182 Release notes for 1.17.11 & 1.18.8
  src/assets/release-notes-1.17.11.json
  src/assets/release-notes-1.18.8.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#180 Manual release notes for v1.17.10
  src/assets/release-notes-1.17.10.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#181 Manual release notes for v1.18.7
  src/assets/release-notes-1.18.7.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#183 Fix release_version in notes 1.17.[10|11] 1.18.[7|8]
  src/assets/release-notes-1.17.10.json
  src/assets/release-notes-1.17.11.json
  src/assets/release-notes-1.18.7.json
  src/assets/release-notes-1.18.8.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#185 Final Release Notes for v1.19.0
  src/assets/release-notes-1.19.0-alpha.2.json
  src/assets/release-notes-1.19.0-alpha.3.json
  src/assets/release-notes-1.19.0-beta.0.json
  src/assets/release-notes-1.19.0-beta.1.json
  src/assets/release-notes-1.19.0-beta.2.json
  src/assets/release-notes-1.19.0-rc.0.json
  src/assets/release-notes-1.19.0-rc.1.json
  src/assets/release-notes-1.19.0-rc.2.json
  src/assets/release-notes-1.19.0-rc.3.json
  src/assets/release-notes-1.19.0-rc.4.json
  src/assets/release-notes-1.19.0.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL
