Repository kubernetes-sigs/release-notes, pull requests merged in 2020-06, with the labels that each got.

#157 Patch relnotes.k8s.io to release v1.19.0-beta.1
  src/assets/release-notes-1.19.0-beta.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XL

#159 Patch relnotes.k8s.io to release v1.19.0-beta.2
  src/assets/release-notes-1.19.0-beta.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/release, size/L

#160 Patch relnotes.k8s.io to release v1.18.4
  src/assets/release-notes-1.18.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#161 Patch relnotes.k8s.io to release v1.18.5
  src/assets/release-notes-1.18.5.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#162 Patch relnotes.k8s.io to release v1.17.3
  src/assets/release-notes-1.17.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#163 Patch relnotes.k8s.io to release v1.17.4
  src/assets/release-notes-1.17.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L
