Repository kubernetes-sigs/release-notes, pull requests merged in 2020-01, with the labels that each got.

#136 initial add of release notes to relnotes.k8s.io from k/k 1.18.0-alpha.1
  src/assets/release-notes-1.18.0-alpha.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/release, size/XL

#137 clarify 1.17 upgrade requirements
  src/assets/release-notes-1.17.0.json
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XS

#138 added patch relnotes for v1.15.8-9, v1.16.5-6, v1.17.1-2
  src/assets/release-notes-1.15.8.json
  src/assets/release-notes-1.15.9.json
  src/assets/release-notes-1.16.5.json
  src/assets/release-notes-1.16.6.json
  src/assets/release-notes-1.17.1.json
  src/assets/release-notes-1.17.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#139 Patch relnotes.k8s.io with v1.18.0-alpha.2 release
  src/assets/release-notes-1.18.0-alpha.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XL
