Repository kubernetes-sigs/release-notes, pull requests merged in 2020-10, with the labels that each got.

#201 Patch relnotes.k8s.io to release v1.20.0-alpha.1
  src/assets/release-notes-1.20.0-alpha.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#202 Patch relnotes.k8s.io to release v1.17.13
  src/assets/release-notes-1.17.13.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#203 Patch relnotes.k8s.io to release v1.20.0-alpha.1
  src/assets/release-notes-1.20.0-alpha.1.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#204 Patch relnotes.k8s.io to release v1.18.10
  src/assets/release-notes-1.18.10.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#205 Patch relnotes.k8s.io to release v1.20.0-alpha.2
  src/assets/release-notes-1.20.0-alpha.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XL

#206 Patch relnotes.k8s.io to release v1.19.3
  src/assets/release-notes-1.19.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L

#207 Patch relnotes.k8s.io to release v1.20.0-alpha.3
  src/assets/release-notes-1.20.0-alpha.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L
