Repository kubernetes-sigs/release-notes, pull requests merged in 2021-03, with the labels that each got.

#226 Patch relnotes.k8s.io to release v1.20.4
  src/assets/release-notes-1.20.4.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/S

#227 Patch relnotes.k8s.io to release v1.18.12
  src/assets/release-notes-1.18.12.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/S

#228 Patch relnotes.k8s.io to release v1.19.5
  src/assets/release-notes-1.19.5.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#229 Patch relnotes.k8s.io to release v1.19.6
  src/assets/release-notes-1.19.6.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#230 Patch relnotes.k8s.io to release v1.19.7
  src/assets/release-notes-1.19.7.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#231 Patch relnotes.k8s.io to release v1.19.8
  src/assets/release-notes-1.19.8.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#232 Complete release notes for v1.18
  src/assets/release-notes-1.18.13.json
  src/assets/release-notes-1.18.14.json
  src/assets/release-notes-1.18.15.json
  src/assets/release-notes-1.18.16.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L
