Repository kubernetes-sigs/release-notes, pull requests merged in 2021-02, with the labels that each got.

#218 Update to angular 11.1
  package-lock.json
  package.json
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XXL

#219 Patch relnotes.k8s.io to release v1.20.1
  src/assets/release-notes-1.20.1.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M

#223 Patch relnotes.k8s.io to release v1.20.2
  src/assets/release-notes-1.20.2.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L

#224 Patch relnotes.k8s.io to release v1.20.3
  src/assets/release-notes-1.20.3.json
  src/environments/assets.ts
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/L
