Repository kubernetes-sigs/release-notes, pull requests merged in 2022-08, with the labels that each got.

#309 Patch relnotes.k8s.io to release v1.25.0-alpha.3
  src/assets/release-notes-1.25.0-alpha.3.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, size/XL, approved, sig/release

#310 Patch relnotes.k8s.io to release v1.25.0-rc.0
  src/assets/release-notes-1.25.0-rc.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/release

#313 Patch relnotes.k8s.io to release v1.25.0-alpha.0, v1.25.0-beta.0, v1.25.0-rc.1
  src/assets/release-notes-1.25.0-alpha.0.json
  src/assets/release-notes-1.25.0-beta.0.json
  src/assets/release-notes-1.25.0-rc.1.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release

#314 Patch relnotes.k8s.io to release v1.25.0
  src/assets/release-notes-1.25.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release

#315 Patch relnotes.k8s.io to release v1.24.0
  src/assets/release-notes-1.24.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release
