Repository kubernetes-sigs/release-notes, pull requests merged in 2022-11, with the labels that each got.

#422 Patch relnotes.k8s.io to release v1.26.0-beta.0
  src/assets/release-notes-1.26.0-beta.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release

#423 Patch relnotes.k8s.io to release v1.26.0-alpha.3
  src/assets/release-notes-1.26.0-alpha.3.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, size/XL, approved, sig/release

#435 Patch relnotes.k8s.io to release v1.26.0-rc.0
  src/assets/release-notes-1.26.0-rc.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, sig/release, size/L
