Repository kubernetes-sigs/release-notes, pull requests merged in 2022-02, with the labels that each got.

#258 Patch relnotes.k8s.io to release v1.24.0-alpha.1
  src/assets/release-notes-1.24.0-alpha.1.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, sig/release, size/L

#259 Patch relnotes.k8s.io to release v1.24.0-alpha.2
  src/assets/release-notes-1.24.0-alpha.2.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, size/XXL, sig/release

#269 Patch relnotes.k8s.io to release v1.21.4
  src/assets/release-notes-1.21.4.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, sig/release, size/L

#275 Patch relnotes.k8s.io to release v1.18.17-v1.18.20, v1.19.10-v1.19.16, v1.20.5-v1.20.15, v1.22.4-v1.22.6
  src/assets/release-notes-1.18.17.json
  src/assets/release-notes-1.18.18.json
  src/assets/release-notes-1.18.19.json
  src/assets/release-notes-1.18.20.json
  src/assets/release-notes-1.19.10.json
  src/assets/release-notes-1.19.11.json
  src/assets/release-notes-1.19.12.json
  src/assets/release-notes-1.19.13.json
  src/assets/release-notes-1.19.14.json
  src/assets/release-notes-1.19.15.json
  src/assets/release-notes-1.19.16.json
  src/assets/release-notes-1.19.9.json
  src/assets/release-notes-1.20.10.json
  src/assets/release-notes-1.20.11.json
  src/assets/release-notes-1.20.12.json
  src/assets/release-notes-1.20.13.json
  src/assets/release-notes-1.20.14.json
  src/assets/release-notes-1.20.15.json
  src/assets/release-notes-1.20.5.json
  src/assets/release-notes-1.20.6.json
  src/assets/release-notes-1.20.7.json
  src/assets/release-notes-1.20.8.json
  src/assets/release-notes-1.20.9.json
  src/assets/release-notes-1.22.4.json
  src/assets/release-notes-1.22.5.json
  src/assets/release-notes-1.22.6.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release

#301 Patch relnotes.k8s.io to release v1.24.0-alpha.3
  src/assets/release-notes-1.24.0-alpha.3.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, sig/release, size/L

#302 Patch relnotes.k8s.io to release v1.22.7
  src/assets/release-notes-1.22.7.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, sig/release
