Repository kubernetes-sigs/release-notes, pull requests merged in 2023-08, with the labels that each got.

#562 Patch relnotes.k8s.io to release v1.28.0-beta.0
  src/assets/release-notes-1.28.0-beta.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, size/XXL, sig/release

#563 Patch relnotes.k8s.io to release v1.28.0-rc.0
  src/assets/release-notes-1.28.0-rc.0.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, sig/release, size/L

#564 Patch relnotes.k8s.io to release v1.28.0-rc.1
  src/assets/release-notes-1.28.0-rc.1.json
  src/environments/assets.ts
Labels: cncf-cla: yes, lgtm, approved, sig/release, size/L

#565 Pull release notes from remote (cdn.dl.k8s.io)
  angular.json
  cypress/integration/app.spec.ts
  src/app/notes/notes.service.ts
  src/environments/assets.ts
  src/environments/index-url.test.ts
  src/environments/index-url.ts
  src/testdata/release-notes-index.json
Labels: cncf-cla: yes, lgtm, approved, ok-to-test, sig/release, size/L
